body {
  background-color: #ffcc33;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe598;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

a {
  display: block;
  color: #101316;
  font-family: 'American Typewriter';
  font-size: 25px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #ffcc33;
}

img {
  margin: 0;
}

#intro {
  z-index: 1;
  float: right;
}

#selfie {
  width: 75%;
  float: right;
}
