body {
  background-color: #ffcc33;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe598;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

ul#nav > li {
  float: right;
}

a.nav-list {
  display: block;
  color: #101316;
  font-family: 'Gill Sans';
  font-size: 25px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #ffcc33;
}

.App {
  display: block;
}

.intro {
  position: absolute;
  z-index: 1;
  float: left;
  margin-top: 80px;
  margin-left: 15px;
  color: rgb(234, 229, 215);
  font-family: 'American Typewriter';
  font-size: 75px;
  text-shadow: 2px 2px rgb(60, 65, 63);
}

#line-two {
  margin-top: 180px;
}

#line-three {
  margin-top: 280px;
}

#line-four {
  margin-top: 380px;
}

#line-five {
  margin-top: 480px;
}

#line-six {
  margin-top: 580px;
}

.section-heading {
  font-family: 'American Typewriter';
  font-size: 70px;
  margin-top: 100px;
  margin-left: 75px;
  margin-bottom: 0;
}

.dark {
  color: #101316;
}

.light {
  color: rgb(234, 229, 215);
  text-shadow: 2px 2px rgb(60, 65, 63);
}

.section-subheading {
  color: rgb(97, 100, 98);
  font-family: 'Gill Sans';
  font-size: 35px;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 75px;
}

.para {
  color: #101316;
  font-family: 'Gill Sans';
  font-size: 30px;
  margin: 125px 75px;
}

.pic-bar {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.item {
  display: table-cell;
  vertical-align: top;
}

#home {
  overflow: auto;
  width: 100%;
}

#selfie {
  width: 75%;
  float: right;
  margin-top: 0;
}

#about, #blog {
  overflow: auto;
  margin-top: 0;
  width: 100%;
  background-color: #ffe598;
  display: inline-block;
}

#button-bar {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}

#portfolio {
  margin-bottom: 100px;
  overflow: auto;
}

#left-heading {
  text-align: right;
  margin-right: 75px;
}

.square-pic {
  display: block;
  width: 100%;
  height: auto;
}

.project-button {
  float: right;
  margin-right: 450px;
  background-color: rgb(234, 229, 215);
  font-family: 'Gill Sans';
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 20px 20px 10px rgb(60, 65, 63);
  color: rgb(69, 73, 72);
}

.project-button:hover {
  background-color: #ffcc33;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgb(234, 229, 215);
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
}

.modal-header {
  color: #101316;
  font-family: 'American Typewriter';
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.modal-heading {
  margin: 0;
  margin-left: 50px;
  padding: 20px;
  padding-left: 0;
  padding-bottom: 0;
}

.modal-subheading {
  margin: 0;
  margin-left: 50px;
  padding: 0;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: rgb(97, 100, 98);
}

.modal-body {
  margin-left: 50px;
  margin: 50px;
}

.built-para {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: #101316;
  margin-bottom: 25px;
}

.github-links {
  margin: 0;
  margin-left: 0;
  padding: 0;
  font-family: 'Gill Sans';
  font-size: 20px;
}

.github-links > a {
  color: rgb(97, 100, 98);
}

.modal-footer {
  color: #101316;
  font-family: 'Gill Sans';
  font-size: 25px;
  margin-left: 50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#blog-background {
  background-color: rgb(38, 38, 38);
  margin-top: 100px;
  padding: 0;
}

#contact-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.contact-para {
  color: rgb(234, 229, 215);
  margin: 15px;
  font-family: 'Gill Sans';
  font-size: 20px;
  padding: 0;
  margin-bottom: 0;
}

.contact-para > a {
  color: rgb(234, 229, 215);
}

#contact-heading {
  color: rgb(234, 229, 215);
  margin: 15px;
  font-family: 'American Typewriter';
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#badge {
  margin-top: 100px;
  display: inline-block;
}

.contact-block {
  width: 330px;
  height: 243px;
  background-color: rgb(36, 38, 41);
  display: inline-block;
  margin-top: 100px;
  padding: 0;
  overflow: auto;
}

#github-block {
  margin: 25px;
  margin-bottom: 0;
}

#github-profile {
  display: inline-block;
  margin: 25px;
}

#username {
  margin: 0;
}
